*{
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color:black;
  color: aliceblue;
  overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}
.main-content{
    background-color:black;
    flex:1;
    border-radius: 1rem;
    overflow: auto;
}
.sidebar{
    background-color:black;
    width: 340px;
     border-radius: 1rem;
}
.music{
    background-color:gray
    position: fixed;
    bottom: 0px;
    width: 100%;
    height:72px
    
}
.nav{
    text-decoration: none;
    color: aliceblue;
    background-color: gray;
    border-radius: 1rem;
}
.library{
        background-color:gray;
        display: flex;
        border-radius: 1rem;
}


